@import "./main.scss";
.gtrend, .gpoint{
	stroke: $coolblue;
	stroke-width: 2;
	fill: none;
	fill-opacity: 1;
}
.gpoint{
	fill: white;
	fill-opacity: 1;
	pointer-events: all;
}
.gpoint circle{
	fill: white;
	fill-opacity: 1;
	pointer-events: all;
}
circle:hover{
	fill: green;
	fill-opacity: 1;
	pointer-events: all;
}
.svgchart{
	width: 90%;
	margin: 0px auto;
}