body {
	background: #fafafa;
	color: #444;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	text-shadow: 0 1px 0 #fff;
}

/*em {
	font-style: italic; 
}*/
.perf_stat_selector_container{
	width: 90%;
	margin: 0px auto;
}
table {
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 90%;
	border-spacing:0px;
}	
td, th {
	padding: 5px 10px;
}
th {
	padding-bottom: 15px;
	margin: 0px;
  	font-weight: bold;
	position: relative;
	border-bottom: 2px solid #444;	
}

th.selector {
	font-size: 12px;
	padding: 5px 10px;
	margin: 0px;
	border-bottom: 0px solid #444;	
}

td {
	margin: 0px;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}